
#color-picker-container2, #color-picker-container{

    background : green;
}

.colorPickerContainers{
    display: flex;
    justify-content:space-around;
    align-items : center;
       margin: 20px  20px; 
}